# 指定淘宝源镜像
registry=https://registry.npmmirror.com/
# electron、electron-builder 安装镜像
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
