@tailwind base; // tailwind 基础样式（定义全局基础样式，默认包含 css reset）
@tailwind components; // tailwind 组件样式（定义业务组件样式，默认为空）
@tailwind utilities; // tailwind 工具样式（定义工具样式，默认包含绝大多数 atomic 样式）

@layer base {
  // 统一设置 input 和 select 的 placeholder 颜色
  input::placeholder,
  textarea::placeholder {
    @apply text-gray-300;
  }
}

@layer utilities {
  // 响应式：是否显示
  .md-hidden {
    @apply hidden md:block;
  }

  // 响应式：grid 布局列数
  .md-grid-26 {
    @apply grid grid-cols-2 md:grid-cols-6;
  }
}

// vue-router 路由过渡动画
.router-leave-active,
.router-enter-active {
  transition: all 0.35s;
}

.router-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}

.router-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

// 重置 vue 根元素大小
#app {
  @apply h-dvh w-dvw;
}
